extends layout
block content
	section(class="section section-cv")
		div(class="container")
			h3 CV
			p There is not much here yet, while you wait for web content you can download my CV in a pdf format 
				a(href="/pdfs/cv.pdf") here
				| .