section(class="section section-footer")
        div(class="container")
            p Created by 
                a(href="https://no.linkedin.com/in/sigvartmh") #{title} 
                | - Powered by 
                a(href="http://nodejs.org/", target="_blank") Node.js
                | ,
                a(href="http://expressjs.com/", target="_blank")  Express 
                | and
                a(href="http://fortawesome.github.io/Font-Awesome/", target="_blank")  Fontawesome