doctype html
html
	head
		meta(charset="utf-8")
		title= title
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lato:200,300,300italic")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel='stylesheet', href="//oss.maxcdn.com/normalize/3.0.1/normalize.min.css")
	body
		header(class="header")
			div(class="header-logo", href='#') {#{title}}
			ul(class="header-links")
				li
					a(href="home")
						i(class="fa fa-home")  About
				li
					a(href="https://github.com/sigvartmh",target="_blank")
						i(class="fa fa-wifi")  Blog
				li
					a(href="https://github.com/sigvartmh",target="_blank")
						i(class="fa fa-book")  CV
				li
					a(href="https://github.com/sigvartmh",target="_blank")
						i(class="fa fa-github")  Github
				li
					a(href="https://github.com/sigvartmh",target="_blank")
						i(class="fa fa-linkedin")  LinkedIn
		block content
