body {
  font-size: 1.4rem;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 100px;
  color: #666c77;
    /*font-weight: 400;
  line-height: 24px;*/
}

a {
  color: #259dff;
  text-decoration: none;

}

a:hover {
  color: #00B7FF;
}
h1 {
    font-size: 0.8rem;
    font-weight: 300;
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 0.8rem;
        font-weight: 200;
    }
}

h2 {
    font-size: 1.6rem;
    font-weight: 300;
}
h3 {
    font-size: 25px;
    font-weight: 300;
}
.placeholder {
    background-color: rgba(0,0,0,0.1);
    margin: auto;
}

/* Ensure that #hash links are offset so navbar doesn't obscure them. */
.xref {
    display: block;
    position: relative;
    top: -100px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
/*Header styling*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 99px;
    border-bottom: 1px solid #bdc3c7;
    background-color: rgba(255,255,255,0.95);
    z-index: 9000;
}
.header-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 60px;
    line-height: 55px;
    margin: auto;
    font-size: 6vmin;
    font-weight: 200;
    color: #95a5a6;
}
.header-logo strong {
    color: #7f8c8d;
    font-weight: 300;
}
.header-links {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: auto;
}
.header-links > li {
    font-weight: 300;
    line-height: 38px;
    font-size: 2vmin;
    padding: 0 8px;
    display: inline-block;
    margin: 0;
}

@media only screen and (min-width: 1010px) {
    .header-logo {
        height: 99px;
        line-height: 90px;
        margin: 0 0 0 30px;
        font-size: 3.0rem;
        right: auto;
    }
    .header-links {
        top: 0;
        left: auto;
        padding-right: 15px;
    }
    .header-links > li {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 95px;
        padding: 0 15px;
    }
}

.header-links a {
    text-decoration: none;
    color: inherit;
}
.header-links a:hover {
    color: #259dff;
}

/* Content styling*/
.section {
    padding: 50px;
    text-align: center;
    font-family: Lato, sans-serif;

}
.section-hero {
    background-color: #3d566f;
    background-image: url(/images/sfbg.jpg);
    background-size: 100.0rem auto;
    color: #fff;
    margin-top: 100px;
}

.section-hero h1 {
    margin-bottom: 50px;
}
.section-about {
    background-color: #ecf0f1;
    font-size: 1.1rem;
    color: #333;
}
.section-blog {
    background-color: #ecf0f1;
    font-size: 1.1rem;
    color: #333;
    margin-top: 100px;

}
.section-cv {
    background-color: #ecf0f1;
    font-size: 1.1rem;
    color: #333;
    margin-top: 100px;

}


.section-philosophy {
    background-color: #ecf0f1;
    color: #333;
}
.section-philosophy blockquote {
    font-size: 34px;
    font-style: italic;
}

.section-footer {
    background-color: #7f8c8d;
    color: #ccc;
}
.section-footer a {
    color: #fff;
}
.section-footer a:hover {
    color: #00B7FF;
}


/* colon styling */
.cols-3 > div,
.cols-4 > div {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 400px;
    font-size: 1.1rem;
}
@media only screen and (min-width: 1000px) {
    .cols-3,
    .cols-4 {
        margin: 0 -15px;
        padding: 0;
        text-align: center;
    }
    .cols-3::after,
    .cols-4::after {
        content: " ";
        display: table;
        clear: both;
    }
    .cols-3 > div,
    .cols-4 > div {
        max-width: none;
        display: block;
        position: relative;
        min-height: 1px;
        padding: 25px 15px;
        float: left;
        margin: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .cols-3 > div {
        width: 33.3333333%;
    }
    .cols-4 > div {
        width: 25%;
    }
